<header
        class="d-flex align-items-center justify-content-center py-3 px-4"
        style="backdrop-filter: blur(10px);
         background: rgba(15, 21, 48, 0.6);
         border-bottom: 1px solid rgba(255,255,255,0.08);
         position: sticky; top: 0; z-index: 100;">
  <div class="brand d-flex align-items-center gap-2 text-center text-md-start">
    <span class="dot d-lg-none"></span>
    <div class="brand-text">
      <!-- Коротка назва для мобільних -->
      <span class="brand-title">Онлайн платформа з ментального здоровʼя</span>
      <!-- Ще детальніше на lg+ -->
      <span class="d-none d-lg-inline"> | Інформаційні послуги та психологічні послуги</span>
    </div>
  </div>
</header>


<main class="container"> <!-- HERO -->
<router-outlet></router-outlet>
</main>
<footer class="container footer">
  <div class="p-1">©Скрипник Ілля · Інформаційні послуги та психологічні послуги
  </div>
</footer>
