.container {
  width: 100%;
  max-width: 1450px;
  margin: 0 auto;
  padding: 0 15rem; /* desktop */

  @media (max-width: 1440px) {
    padding: 0 8rem;
  }

  @media (max-width: 1024px) {
    padding: 0 4rem;
  }

  @media (max-width: 768px) {
    padding: 0 1.5rem;
  }

  @media (max-width: 480px) {
    padding: 0 1rem;
  }
}